<!--
add_task.html

The page for writing information to add an event

Author(s): Anna Sheaffer, Mishwa Bhavsar
Used Bootstrap for styling and Flask
Started 10/26/2022
-->

{% block body %}

<div class="collapse multi-collapse m-0" id="add-task">
  <!-- form for getting user information to add an event -->
  <form action="{{ url_for('add_entry') }}" method="post" class="p-3 m-3">
    <h2 class="text-center">Add Event</h2>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2' type="text" required name='title' id="title">
          <label for="title">Title</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2' type="text" required name="category" id="category">
          <label for="category">Category</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2 datepicker' type="text" required id="start_date" name="st_date"
                 autocomplete="off">
          <label for="start_date">Start Date</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2 timepicker' type="text" required id="start_time" name="st_time"
                 autocomplete="off">
          <label for="start_time">Start Time</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2 datepicker' type="text" required name="en_date" id="end_date"
                 autocomplete="off">
          <label for="end_date">End Date</label>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-floating">
          <input class='form-control my-2 timepicker' type="text" required name="en_time" id="end_time"
                 autocomplete="off">
          <label for="end_time">End Time</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <label for="repeat_frequency">How many times do you want it repeated?</label>
        <input class='form-control my-2' type="text" id="repeat_frequency" name="repeat_frequency" value="">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-floating">
          <textarea class='form-control my-2' rows="2" maxlength="100" name="description" id="description"></textarea>
          <label for="description">Write any details here</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <input class="btn btn-dark" type="submit" value="Add">
      </div>
    </div>
  </form>
</div>

<!-- datepicker info found on https://jqueryui.com/datepicker/#date-formats -->
<script>
  $(function () {
    $(".datepicker").datepicker();
  });

  $(document).ready(function () {
    $('input.timepicker').timepicker({interval: 15});
  });
</script>
{% endblock %}
