<!--Calendar view where the user can view all of their events in a calendar and filter by date
Author(s): Anna Sheaffer
Used Bootstrap for styling and Flask
Started 10/26/2022
-->
<div class="container p-4">
    <div class="calendar px-3"></div>
        <form id='dateForm' action="{{ url_for('filter_date') }}" method="get">
            <!--<input class="form-control" name="date" id='datepicker' placeholder="MM/DD/YYYY">-->
            <input type="hidden" id="static_date" name="date" />
        </form>
</div>

<script>

    // create calendar using fullcalendar plugin
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.querySelector('.calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            timeZone: 'local',
            selectable: true,
            themeSelect: 'bootstrap',
            dateClick: function(info) {

                const temp_date = new Date(info.dateStr);

                // increase day by 1 -- likely will have to change
                temp_date.setDate(temp_date.getDate() + 1);

                const options = { month: '2-digit', day: '2-digit', year: 'numeric' };

                var date = temp_date.toLocaleDateString('en-us', options);

                document.querySelector('#static_date').value = date;

                // submit the form so that date automatically changes on click
                $('#dateForm').submit();

            },
            eventClick: function(info) {
                var event_start = info.event.start;
                var event_end = info.event.end;

                $('#detailTitle').text(info.event.title);
                $('#start_time').text(event_start);
                $('#end_time').text(event_end);
                $('#eventDetails').toggle();
            },
            events: [
                {% for task in tasks %}
                {
                    id: {{ task.id }},
                    title: "{{ task.title }}",
                    start: new Date("{{ task.st_date }} {{ task.st_time }}"),
                    end: new Date("{{ task.en_date }} {{ task.en_time }}")
                },
                {% endfor %}
            ]
        });
        calendar.render();


    });
</script>
