<!--
login.html

The template for logging into the account

Author(s): Mishwa Bhavsar
Used Bootstrap for styling and Flask
Started 11/09/2022
-->

{% include "styling.html" %}


{% block body %}

<!--  navigation bar with features for logging in and/or creating account -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-4" id="welcome">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('render_main') }}">College Planner</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0 text-white">
            {% if session['logged_in'] == True -%}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {%- else -%}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('login_settings') }}">Log In</a>
            </li>
            {%- endif %}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('create_account') }}">Create Account
                </a>
            </li>
        </ul>
    </div>
</nav>

{% for message in get_flashed_messages() %}
<div class="alert alert-secondary">{{ message }}</div>
{% endfor %}

<!-- get user information for logging into their account -->
<form action="{{ url_for('login') }}" method="post">
    <div class="m-5">
        <h1 class="text-center">Log in</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text mt-2 ml-2 mb-2">@</span>
                <div class="form-floating">
                    <input class='form-control my-2' required type="text" name="user_name" id="username">
                    <label for="username" class="mt-2">Username</label>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating">
                <input class='form-control my-2' required type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <a class="btn btn-dark" href="{{ url_for('render_reset') }}">Reset password</a>
        </div>
        <div class="col-2 text-center">
            <input class="btn btn-dark" type="submit" value="Log in">
        </div>
        <div class="col-3 text-center">
            <a class="btn btn-dark" href="create_account">Create an Account</a>
        </div>
    </div>
    </div>
</form>
{% endblock %}