<!--
request_reset.html

The template for a user to request a password reset and enter their email

Author(s): Khumoyun Abdulpattoev
Used Bootstrap for styling and Flask
-->
{% extends "main_template.html" %}
{% include "styling.html" %}

{% block body %}
<!-- get user email address to send an email for changing their password -->
<form action="{{ url_for('request_reset') }}" method="post">
    <div class="m-5">
        <h1 class="text-center">Enter your email</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text mt-2 ml-2 mb-2">@</span>
                <div class="form-floating">
                    <input class='form-control my-2' required type="text" name="email" id="email">
                    <label for="email" class="mt-2">Email</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center">
            <input class="btn btn-dark" type="submit" value="Request Reset password">
        </div>
    </div>
</form>
{% endblock %}