<!--
reset_password.html

The template for setting a new password after successful verification

Author(s): Khumoyun Abdulpattoev
Used Bootstrap for styling and Flask
-->
{% extends "main_template.html" %}
{% include "styling.html" %}

{% block body %}

<!-- page for getting new password -->
<form action="{{ url_for('set_password') }}"  method="post">
    <div class="m-5">
        <h1 class="text-center">Enter new password</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input class='form-control my-2' required type="password" name="password" id="password">
                    <label for="password" class="mt-2">Password</label>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-floating">
                <input class='form-control my-2' required type="password" name="password-confirm"  id="password-confirm">
                <label for="password-confirm">Confirm the Password</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <input type="hidden" name="email" id="email" value="{{email_string}}">
            <input class="btn btn-dark" value="Reset Password" type="submit" onclick="return checkPassword();">
        </div>
    </div>
</form>
<script>

    // Function to check Whether both passwords
    // is same or not.
    function checkPassword() {
        password1 = document.getElementById("password").value;
        password2 = document.getElementById("password-confirm").value;

        // If password not entered
        if (password1 == '') {
            alert("Please enter Password")
            return false;
        }
        // If confirm password not entered
        else if (password2 == '') {
            alert ("Please confirm password")
            return false;
        }

        // If Not same return False.
        else if (password1 != password2) {
            alert ("\nPassword did not match: Please try again...")
            return false;
        }

        // If same return True.
        else{
            return true;
        }
    }
</script>
{% endblock %}