<!--
welcome_page.html

The 'starter' template for the landing page
Contains the welcome page with navigation bar and brief information of application

Author(s): Mishwa Bhavsar
Used Bootstrap for styling and Flask
Started 11/20/2022
-->

{% include "styling.html" %}

<body>
{% block body %}

<!-- navigation bar with features of logging in and/or creating account -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-4" id="welcome">
    <div class="container-fluid">
        <a class="navbar-brand" href="#welcome">College Planner</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0 text-white">
            {% if session['logged_in'] == True -%}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </li>
            {%- else -%}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('login_settings') }}">Log In</a>
            </li>
            {%- endif %}
            <li class='nav-item'>
                <a style="cursor: pointer" class="nav-link" href="{{ url_for('create_account') }}">Create Account
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class=" mt-5 logo" align="middle">
    <img src="{{url_for('static', filename='planner_logo.png')}}" alt="College Planner logo"/>
</div>

<h1 class="text-center mt-5">Welcome to College Planner!</h1>

<!-- intro and small tutorial for website -->
<div class="p-5 p-md-5 mb-4 m-5 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h2 class="display-4 fst-italic">Introduction</h2>
        <p class="lead my-3">College Planner is designed by college students for making the busy schedule of students
            easily manageable.</p>
    </div>
    </div>
<div class="p-5 p-md-5 mb-4 m-5 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h2 class="display-4 fst-italic">Features</h2>
        <ol class="lead my-3">
            <li>Add Events: Ability to add events and information for them like title, category, description, start date and time, and end date and time</li>
            <li>Edit Events: Update the information of specific event</li>
            <li>Create To-Do List: Create a list for smaller task, and check off tasks once completed</li>
            <li>Calendar View: Full calendar view to see, manage, edit, filter events by specific date</li>
        </ol>
    </div>
</div>

</body>
{% endblock %}
